<div class="container">
	<h4>REGISTRO USUARIO</h4>
	<form (ngSubmit)="registrarUsuario()" #registroFormErr="ngForm" novalidate="">
		<div class="form-group">
			<label for="nombre">Nombre</label>
			<input type="text" class="form-control" id="nombre" required [(ngModel)]="registroDatos.nombre" name="nombre" #nombreErr="ngModel" minlength="5">
			<div [hidden]="nombreErr.valid || nombreErr.pristine" class="alert alert-danger">
				<div *ngIf="nombreErr.errors?.required">
					Este campo es obligatorio
				</div>
				<div *ngIf="nombreErr.errors?.minlength">
					La longitud mínima es de 5
				</div>
			</div>
		</div> 
		<div class="form-group">
			<label for="apellidos">Apellidos</label>
			<input type="text" class="form-control" id="apellidos" required [(ngModel)]="registroDatos.apellidos" name="apellidos" #apellidosErr="ngModel" minlength="5">
			<div [hidden]="apellidosErr.valid || apellidosErr.pristine" class="alert alert-danger">
				<div *ngIf="apellidosErr.errors?.required">
					Este campo es obligatorio
				</div>
				<div *ngIf="apellidosErr.errors?.minlength">
					La longitud mínima es de 5
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="password">password</label>
			<input type="password" class="form-control" id="password" required [(ngModel)]="registroDatos.password" name="password" #passwordErr="ngModel" minlength="5">
			<div [hidden]="passwordErr.valid || passwordErr.pristine" class="alert alert-danger">
				<div *ngIf="passwordErr.errors?.required">
					Este campo es obligatorio
				</div>
				<div *ngIf="passwordErr.errors?.minlength">
					La longitud mínima es de 5
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="email">Email</label>
			<input type="text" class="form-control" id="email" required [(ngModel)]="registroDatos.email" name="email" #emailErr="ngModel" minlength="5"
			pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}$">
			<div [hidden]="emailErr.valid || emailErr.pristine" class="alert alert-danger">
				<div *ngIf="emailErr.errors?.required">
					Este campo es obligatorio
				</div>
				<div *ngIf="emailErr.errors?.minlength">
					La longitud mínima es de 5
				</div>
				<div *ngIf="emailErr.errors?.pattern">
					El formato de email no es correcto
				</div>
			</div>
		</div>
		<div class="form-group">
			<label>Sexo</label>
			<div class="custom-control custom-radio custom-control-inline" *ngFor='let item of sexKeys'>
				<input type='radio' name='sexo' [id]='item' [value]='item' [(ngModel)]='registroDatos.sexo' class='custom-control-input'>
				<label class='custom-control-label' [for]='item'>{{ item }}</label>
			</div>
		</div>
		<div class="form-group">
			<div><label for="idioma">Idioma</label></div>
			<select class="custom-select" id="idioma" name="idioma" #idiomaErr="ngModel" required [(ngModel)]="registroDatos.idioma">
				<option *ngFor="let idioma of idiomaKeys" [value]="idioma.key">{{ idioma.idioma }}</option>
			</select>
			<div [hidden]="idiomaErr.valid || idiomaErr.pristine" class="alert alert-danger">
				El idioma es obligatorio
			</div>
		</div>
		<div class="form-group">
			<div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="customCheck1" name="isOk" required [(ngModel)]="registroDatos.isOk">
				<label class="custom-control-label w-100" for="customCheck1">
					Acepta las condiciones
				</label>
			</div>
		</div>
		<button type="submit" class="btn btn-primary" [disabled]="!registroFormErr.valid">Enviar</button><br>
		{{ registroDatos | json }}
	</form>
</div>